* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    background-color: #1e1d1d;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    /* background-color: rgb(0, 0, 0); */
    background: linear-gradient(to right, #5c5c5c, #b8a892);
    color: white;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(img/home\ appliances\ like\ rice\ cooker\,\ lamp\,\ mobile\,\ lights\,\ iron\ etc\ on\ shelf-3.jpg);
    background-size: cover;
    background-position: center;
}

.banner2 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(img/repairing-gadgets.jpg);
    transform: scaleX(-1);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 100%;
    /* margin: auto; */
    padding: 0px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #24252A; */
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.1);
    /* border-radius: 70px; */
    backdrop-filter: blur(7px);
    z-index: 3;
}

.logo-top {
    width: 90px;
    /* padding-left: 20px; */
    margin-left: 20px;
    cursor: pointer;
}

/* .navbar h1 {
color: white;
text-align: center;
} */

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 45px;
    position: relative;
    /* padding-top: 20px; */
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 100%;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
    transition-timing-function: ease;
    transform: scaleX(0);
}

.navbar ul li:hover::after {
    /* width: 100%; */
    transform: scaleX(1);
}

.content {
    color: #ffffff;
    /* width: 100%; */
    position: absolute;
    top: 35%;
    left: 54%;
    /* transform: translate(-50%); */
    /* text-align: center; */
}

.content h1 {
    font-size: 57px;
}

.content span {
    color: #4CAF50;
    font-weight: bold;
}

.content2 span {
    color: #FF5722;
    font-weight: bold;
}

.content2 {
    color: #ffffff;
    /* width: 100%; */
    position: absolute;
    top: 15%;
    left: 57%;
    transform: scaleX(-1);
    /* transform: translate(-50%); */
    /* text-align: center; */
}

.content2 h1 {
    font-size: 57px;
}

.storename {
    /* text-align: center; */
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    position: absolute;
    left: 90px;
    top: 40px;
    z-index: 2;
}

.storename span {
    color: orange;
    font-size: 50px;
}

.glass {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 110px;
    left: 40px;
    background: linear-gradient(rgba(200, 200, 200, 0.1), rgba(200, 200, 200, 0.1));
    backdrop-filter: blur(7px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 1;
}

footer {
    background-color: #ffffff;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    padding-top: 40px;
    background-color: #1e1d1d;
}

.footer-column {
    flex: 1;
    margin: 0 20px;
    text-align: center;
}

.footer-column h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-column p,
a {
    margin: 5px 0;
    font-size: 15px;
}

/* 
.footer-column a:hover {
    margin: 5px 0;
    font-size: 15px;
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.9);
} */

.footer-column a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

/* .footer-column a:hover {
    background-color: #1e1d1d;
} */

.logo-bottom {
    width: 120px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.copy-right {
    /* margin-top: 20px; */
    /* padding-top: 20px; */
    text-align: center;
    font-size: 12px;
    color: rgb(121, 121, 122);
    background-color: #1e1d1d;
    padding-bottom: 9px;
}




/*------------ For Product */
.card-container h1,
p {
    margin: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    background-color: none;
    gap: 40px;
    padding-bottom: 100px;
}


.card {
    width: 300px;
    height: 400px;
    /* background-color: #272D40; */
    /* background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2));
            border-radius: 1rem; */
    background: linear-gradient(to bottom, #67471574, #cac8c6, #685d4c74);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 4rem 2rem 0;
    color: #E9EAEC;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-img {
    position: absolute;
    width: 260px;
    filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, .4));
}

.card-data {
    transform: translateY(14.2rem);
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
    /* color: #F2A20C; */
    color: rgb(255, 123, 0);
    margin-bottom: .5rem;
}

.card-description {
    font-size: 1rem;
    text-align: initial;
    margin-bottom: 1.25rem;
    opacity: 0;
    color: white;
}

.card-img,
.card-data,
.card-title,
.card-description {
    transition: .5s;
}

.card:hover .card-img {
    transform: translate(-1.5rem, -9.5rem) rotate(-20deg) scale(1.2);
}

.card:hover .card-data {
    transform: translateY(4.8rem);
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    backdrop-filter: blur(7px);
    border-radius: 20px;
    padding: 7px;
    transition: 0.5s;
}

.card:hover .card-title {
    transform: translateX(-2.3rem);
    margin-bottom: 0;
}

.card:hover .card-description {
    transition-delay: .2s;
    opacity: 1;
}

.fan {
    width: 200px;
    transform: translateY(-50px);
    /* top: 30px; */
}

.top-title {
    padding-top: 120px;
    padding-bottom: 40px;
    /* background-color: #F2F5FF; */

}

.top-title h1 {
    font-size: 70px;
    padding: 20px;
}

.top-title h1 span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-title h1,
p {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* line-height: 30px; */
}



/*        For About page */

.about-container {
    padding-top: 140px;
    /* padding-top: 250px; */
    overflow: hidden;
    /* background-image: url(img/simple\ aesthetic\ local\ electronic\ shop\ product.jpg); */
    background-image: linear-gradient(to right, rgb(92, 92, 92, 0.7), rgb(184, 168, 146, 0.7)), url(img/simple\ aesthetic\ local\ electronic\ shop\ product.jpg);
    background-size: cover;
}

.about-container2 {
    /* padding-top: 140px; */
    padding-top: 250px;
    overflow: hidden;
    /* background-image: url(img/simple\ aesthetic\ local\ electronic\ shop\ product.jpg); */
    background-image: linear-gradient(to right, rgb(92, 92, 92, 0.7), rgb(184, 168, 146, 0.7)), url(img/simple\ aesthetic\ local\ electronic\ shop\ product.jpg);
    background-size: cover;
}

.about1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 60px;
}

.about1-img {
    width: 635px;
    border-radius: 50px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    filter: brightness(0.8);
    transition: filter 0.4s;
    cursor: pointer;
}

.about1-img2 {
    width: 635px;
    border-radius: 50px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    filter: brightness(0.8);
    transition: filter 0.4s;
    cursor: pointer;
}

.about1-img3 {
    width: 635px;
    border-radius: 50px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    filter: brightness(0.8);
    transition: filter 0.4s;
    cursor: pointer;
}

.about1-img:hover {
    filter: brightness(1);
    box-shadow: 0 8px 402px 0 rgba(0, 0, 0, 0.527);
}

.about1-img2:hover {
    filter: brightness(1);
    box-shadow: 0 8px 402px 0 rgba(255, 185, 22, 0.528);
}

.about1-img3:hover {
    filter: brightness(1);
    box-shadow: 0 8px 402px 0 rgba(201, 201, 201, 0.528);
}

.about1-text {
    color: rgb(255, 255, 255);
    font-size: 22px;
    text-align: justify;
    /* font-weight: 500; */
}

.about1-text span {
    color: rgb(226, 160, 37);
    font-size: 31px;
}

.about1-content h1 {
    text-align: center;
    font-size: 35px;
    padding-bottom: 24px;
}

/* .about1-content::after {
    content: '';
    height: 4px;
    width: 100%;
    background: #ffffff;
    position: absolute;
    border-radius: 50%;
    left: 0;
    bottom: -10px;
    transition: 0.7s;
    transition-timing-function: ease;
    transform: scaleX(0);
}

.about1-content:hover::after {
    transform: scaleX(1);
} */

.about1-content {
    background: linear-gradient(rgba(49, 45, 45, 0.4), rgba(29, 23, 23, 0.4));
    backdrop-filter: blur(40px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 20px;
    cursor: pointer;
}




/*    For Contact page */

.contact-container {
    /* width: 100%; */
    max-width: 900px;
    margin: 2rem auto;
    padding: 2rem;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
    /* background: #fff; */
    background: linear-gradient(rgba(49, 45, 45, 0.4), rgba(29, 23, 23, 0.4));
    backdrop-filter: blur(40px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding-top: 100px;
}

.contact-header {
    text-align: center;
    margin-bottom: 2rem;
    line-height: 30px;
}

.contact-header h1 {
    font-size: 2.5rem;
    color: #000000;
    padding-bottom: 20px;
}

.contact-header p {
    font-size: 1rem;
    color: #ffffff;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: rgb(0, 0, 0);

}

.contact-form textarea {
    resize: none;
    height: 150px;
}

.contact-form button {
    padding: 0.8rem;
    background: #3498db;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.5s;
}

.contact-form button:hover {
    background: #2980b9;
}

/*    For Map */